.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-container {
    input {
        border: 1px solid black;
        margin: 1rem;
        padding: 0.8rem;
        height: 3rem;
        width: 6rem;
        text-align: center;
    }

    input::placeholder {
        text-align: center;
    }
}

.btn-container {
    button {
        margin: 1rem;
        padding: 0.5rem;
        border: 1px solid black;
        border-radius: 10%;
        background-color: skyblue;
        color: black;
    }
}
